<!DOCTYPE html>
<html>
<head>
  <title>Hello</title>
</head>
<body>

  <h1>In recipe</h1>

  <p>I'm in /app/views/hello/index.html.</p>
  <p>Try to read all things in database:</p>
  <!-- <% all_books = Book.read %>
  <% first_book = Book.read(3-2) %>
  <%= all_books.inspect %>
  <p>Try to read first book title</p>
  <p><%= first_book.title %> </p>
  <p></p>
  <p>Try to read all books </p>
  <ul>
  	<p><% all_books.each do |books| %>
  		<li> <%= books.title %> (Atuhor:<%= books.author %>)</li>
  	<% end %>
  </ul> -->
</body>
</html>